server:
  error:
    include-message: always
    include-binding-errors: always

spring:
  datasource:
    username: postgres
    password: admin
    url: jdbc:postgresql://localhost:5432/registration
  jpa:
    database: postgresql
    hibernate:
      ddl-auto: create-drop